<div style="width:100%">
    <table style="width:100%">
        <tr>
            <td name="thumbnail"></td>
            <td style="width:100%">
                <div name="tmp-container" ng-transclude></div>
                <table name="item-content" style="width:100%">
                    <tr><td name="item-title"></td></tr>
                    <tr><td name="item-sub-title"></td></tr>
                    <tr><td name="item-description"></td></tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
</div>