.header-box-title-transparent {
    color: white;
    background-color: #333333;
/*    padding: 5px 10px;*/
    box-shadow: 0px 3px 5px #777777;
    position: relative;
    font-size: 18px;
}
.header-box-content-transparent {
/*    padding: 10px 10px;*/
    background-color: #555555;
    color: white;
    /*box-shadow: 0 -3px 5px #777777 inset;*/
}
.content-box-title-transparent {
    font-size: 18px;
    /*padding: 5px 10px;*/
    background-color: #cacaca;
    border-bottom: 2px solid #a0a0a0;
    color: black;
/*    box-shadow: 3px 3px 5px #777777;
    position: relative;*/
}
.content-box-content-transparent {
    /*padding: 10px 10px;*/
    background-color: rgba(130,180,230, 0.7);
    color: #474747;
}
.box-corner-full-transparent {
    width: 100%;
}
.box-corner-round-transparent {
    margin: 5px 10px 5px 10px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    overflow: hidden;
}
.outer-box-panel {
    background-color: rgba(0,0,0,0.3);
    padding: 12px;
    border: 1px solid #b0b0b0;
}
.inner-box-panel {
    box-shadow: 0px 3px 3px 3px #909090
}
.box-max-btn {
    padding: 0px 5px;
    border-left: 1px solid #b0b0b0;
    cursor: pointer;
}
.box-max-btn:hover {
    background-color: white;
}
.box-toolbar-container {
    z-index: 8;
    margin: auto;
    position: relative;
    height: 5px;
    width: 50px;
    background-color: #bfbfbf;
}
.box-toolbar-container:hover {
    background-color: azure;
}
.box-toolbar-container:hover > .box-toolbar {
    visibility: visible;
    top: 0px;
    transition-delay: 0s;
}
.box-toolbar {
    /*display: none;*/
    z-index: 9;
    margin: auto;
    position: relative;
    top: -20px;
    left: -50%;
    width: 100px;
    text-align: center;
    background-color: azure;
    
    visibility: hidden;    
    transition: top 0.5s linear, visibility 0s linear 0.5s;
}

